NODE_ENV=development
PORT=3001

# Prisma runtime connection (pooling)
DATABASE_URL=postgresql://postgres.qaakufidgmygrcgtcbcj:[YOUR-PASSWORD]@aws-1-us-west-2.pooler.supabase.com:6543/postgres?pgbouncer=true&sslmode=require
# Prisma migrations (direct connection)
DIRECT_URL=postgresql://postgres.qaakufidgmygrcgtcbcj:[YOUR-PASSWORD]@aws-1-us-west-2.pooler.supabase.com:5432/postgres?sslmode=require

SUPABASE_URL=https://qaakufidgmygrcgtcbcj.supabase.co
SUPABASE_ANON_KEY=your-anon-key
